.section-about{
    background-color:$colur-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.801)),
    url('../img/nat-4.jpg');
    background-size: cover;

    transform: skewY(-7deg);
    margin-top: -10rem;

    // direct child selector
    &>*{
        transform: skewY(7deg);
    }

    // .section-features *

}

.section-tours {
    background-color: $colur-grey-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;
}